<h1> Edit Comment </h1>
<%= simple_form_for([@notice , @comment]) do |f| %>
<%= f.input :content, label: "Comment" %>
<%= f.file_field :file, label: "Attachment", title: "choose file" , class: "file-picker" %>
<%= f.button :submit %>
<% end %>
